################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/To Do List App/FileContentIndex/52f396b7-0d1c-4fe4-9846-ca9c732dc63d.vsidx
/.vs/To Do List App/FileContentIndex
